<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增|修改</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static '/bootstrap-3.3.7/dist/css/bootstrap.min.css'%}">
    <script src="{% static 'jquery-3.3.1.min.js'%}"></script>
    <script src="{% static '/bootstrap-3.3.7/dist/js/bootstrap.min.js'%}"></script>
    <script>
        function checkedThis(cid){
           var boxArray = document.getElementById(cid);
           if(boxArray.type=="checkbox"&& boxArray.checked){
                   boxArray.checked = true;
                   boxArray.value = 1;
           }else{
                   boxArray.checked = false;
                   boxArray.value = 0;
           }
        }

        function checkForm(ename)
        {
               var t1 = document.getElementsByName(ename);
               for(i=0;i<t1.length;i++)
               {
                   if(t1[i].type == "checkbox")
                   {
                       if(!(t1[i].checked))
                       {
                           t1[i].checked = true;
                       }
                   }
               }
               return true;
        }
        function delRow(obj,eid){
        var table=document.getElementById("params_table");
        var i=obj.parentNode.parentNode.rowIndex
        var row=table.deleteRow(i);
    }
    function displayResult(eid){
        var table=document.getElementById(eid);
        var row=table.insertRow(-1);
        var cell1=row.insertCell(0);
        var cell2=row.insertCell(1);
        var cell3=row.insertCell(2);
        cell1.setAttribute('class','col-sm-3');
        cell2.setAttribute('class','col-sm-3');
        cell3.setAttribute('class','col-sm-6');
        cell1.innerHTML='<input name="key" class="form-control" required>';
        cell2.innerHTML='<input name="value" class="form-control" required>';
        cell3.innerHTML="<a onclick='delRow(this)'><i class='glyphicon glyphicon-remove'></i></a>";
    }
    </script>
</head>
<body role="document">
    <ol class="breadcrumb">
      <li><a href="{%url 'welcome'%}">Home</a></li>
      <li><a href="{%url 'apis_manage'%}">单一接口用例管理</a></li>
      <li class="active">单一接口用例 新增|修改</li>
    </ol>
    <!--详情-->
    <form class="form-horizontal" role="form" action="{%url 'apis_save'%}?api_id={{api_id}}" method="post" onsubmit="checkForm('apiexec');">
        {%csrf_token%}
            <h4>单一接口用例 新增|编辑</h4>
            <table class="table table-striped ">
                {%if apis%}
                {%for api in apis%}
                <tr>
                    <td class="col-sm-2">接口用例编号:</td>
                    <td ><input name="apino" class="form-control" type="text" value="{{api.apino}}" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">模块:</td>
                    <td >
                        <select name="module" class="form-control" style = "width:400px;" required>
                            {%for module in modules%}
                            {%if module.modulename == api.apimodule.modulename%}
                            <option  selected="selected" value="{{module.id}}">{{module.modulename}}</option>
                            {%else%}
                            <option  value="{{module.id}}">{{module.modulename}}</option>
                            {%endif%}
                            {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">接口名称:</td>
                    <td ><input name="apiname" class="form-control" type="text" value="{{api.apiname}}" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">请求方法:</td>
                    <td>

                                <select name="apimethod" class="form-control" style = "width:400px;"  required>
                                    <option ></option>
                                    {%for method in methods %}
                                        {%if api.apimethod == method %}
                                            <option selected="selected">{{api.apimethod}}</option>
                                        {%else%}
                                            <option >{{method}}</option>
                                        {%endif%}
                                    {%endfor%}
                                </select>

                      </td>
                </tr>
                <tr>
                    <td class="col-sm-2">headers:</td>
                    <td data-toggle="tooltip" data-placement="right" title="{{api.apiheaders}}"><input name="headers" class="form-control" type="text" value="{{api.apiheaders}}" style = "width:400px;" ></td>
                </tr>
                <tr>
                    <td class="col-sm-2">URL地址:</td>
                    <td ><input name="apiurl" class="form-control" type="text" value="{{api.apiurl}}" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">预期结果:</td>
                    <td ><input name="apiresult" class="form-control" type="text" value="{{api.apiresult}}" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">函数:</td>
                    <td ><input name="apifunc" class="form-control" type="text" value="{{api.apifunc}}" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">是否执行:</td>
                    {%if api.apiexec%}
                    <td ><input id="apiexec" name="apiexec" value="{{api.apiexec}}" type="checkbox" checked="checked" onclick="checkedThis(this.id)"></td>
                    {%else%}
                    <td ><input id="apiexec" name="apiexec" value="{{api.apiexec}}" type="checkbox" onclick="checkedThis(this.id)"></td>
                    {%endif%}
                </tr>

                {%endfor%}
                {%else%}
                <tr>
                    <td class="col-sm-2">接口用例编号:</td>
                    <td ><input name="apino" class="form-control" type="text" value="" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">模块:</td>
                    <td >
                        <select name="module" class="form-control" style = "width:400px;" required>
                            <option></option>
                            {%for module in modules%}
                            <option  value="{{module.id}}">{{module.modulename}}</option>
                            {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">接口名称:</td>
                    <td ><input name="apiname" class="form-control" type="text" value="" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">请求方法:</td>
                    <td>

                                    <select  class="form-control" name="apimethod" style = "width:400px;" required>
                                        <option ></option>
                                        {%for method in methods%}
                                        <option >{{method}}</option>
                                        {%endfor%}
                                    </select>

                          </td>
                </tr>
                <tr>
                    <td class="col-sm-2">headers:</td>
                    <td ><input name="headers" class="form-control" type="text" value="" style = "width:400px;" ></td>
                </tr>
                <tr>
                    <td class="col-sm-2">URL地址:</td>
                    <td ><input name="apiurl" class="form-control" type="text" value="" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">预期结果:</td>
                    <td ><input name="apiresult" class="form-control" type="text" value="" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">函数:</td>
                    <td ><input name="apifunc" class="form-control" type="text" value="" style = "width:400px;" required></td>
                </tr>
                <tr>
                    <td class="col-sm-2">是否执行:</td>
                    <td ><input id="apiexec" name="apiexec" value="False" type="checkbox" onclick="checkedThis(this.id)"></td>
                </tr>

                {%endif%}

            </table>
            <table class="table table-striped" id='params_table'>
                <caption>流程接口测试用例参数</caption>
                <thead>
                  <tr>
                     <th class="col-sm-3">key</th>
                     <th class="col-sm-3">value</th>
                      <th class="col-sm-6">删除</th>
                  </tr>
               </thead>
               <tbody>
               {%if not params%}
                  <tr >
                     <td class="col-sm-3"><input name="key" type="text" class="form-control col-sm-2"  required></td>
                     <td class="col-sm-3"><input name="value" type="text" class="form-control col-sm-2" required></td>
                      <td class="col-sm-6"><a onclick='delRow(this)'><i class='glyphicon glyphicon-remove'></i></a></td>
                  </tr>
               {%else%}
                    {% for key,value in params.items%}
                    <tr>
                        <td class="col-sm-3"><input name="key" type="text" class="form-control " value="{{key}}" required></td>
                        <td class="col-sm-3"> <input name="value" type="text" class="form-control" value="{{value}}" required></td>
                        <td class="col-sm-6"><a onclick='delRow(this)'><i class='glyphicon glyphicon-remove'></i></a></td>
                      </tr>
                    {%endfor%}
               {%endif%}
               </tbody>

            </table>
            <table class="table table-striped">

                  <tr>
                      <td><a  onclick="displayResult('params_table');"> 添加另一组 参数</a></td>
                      <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td >
                          <div class="col-sm-offset-3">
                              <button class="btn"><a href="{%url 'apis_manage'%}">取消</a></button>
                              <button type="submit" class="btn btn-primary" >保存</button>
                          </div>
                      </td>
                </tr>
            </table>
    </form>
</body>
</html>