<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试管理平台</title>
</head>
<frameset rows="100,*"  frameborder="0" border="0" framespacing="0">
    <frame src="/top/" name="topFrame" noresize="noresize" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" />
    <frameset cols="256,*" id="frame" frameborder="0" border="0" framespacing="0">
        <frame src="/left" name="leftFrame" noresize="noresize" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto"  />
        <frame src="/welcome/" name="mainFrame" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto"  />
    </frameset>
</frameset>
<noframes>
    <body role="document">
    浏览器不支持
    </body>
</noframes>
</html>